.cat-block{
    display: inline-block;
    width: 300px;
    vertical-align: top;
    border-style: solid;
    border-width: 0px;
    margin-right: 12px;
    font-family: Roboto, Arial, sans-serif;
    box-shadow: 2px 2px 5px #606060;
    border-radius: 5px;
}

.cat-thumbnail{
    width:300px;
    height: 300px;
    border-radius: 5px;
}

.cat-thumbnail:hover{
    cursor: pointer;
    opacity: 0.7;
}

.title{
    font-weight: bold;
    font-size: 50px;
    vertical-align: mid;
    font-family: "Cute Font", sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}

.adopt-cat-button{
    background-color: white;
    border-color: rgb(3, 3, 211);
    color: rgb(3, 3, 211);
    border-radius: 20px; /*rounded corners*/
    border-style: solid;
    border-width: 1px;
    height: 36px;
    cursor: pointer;  
    margin-right: 8px;  
    transition: background-color 0.15s, color 0.15s;
    vertical-align:middle;
}

.adopt-cat-button:hover{
    background-color: rgb(3, 3, 211);
    color: white;
}

.adopt-cat-button:active{
    opacity: 0.7;
}

.cat-name{
    font-weight: bold;
    font-size: 16px;
}

.car-info{
    color: #606060;
    font-size: 12px;
}